@font-face {
    font-family: "raleway";
    src: url("../fonts/raleway-regular-webfont.woff2") format("woff2"),
      url("../fonts/raleway-regular-webfont.woff") format("woff"),
      url("../fonts/Raleway-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "lato";
    src: url("../fonts/lato-regular-webfont.woff2") format("woff2"),
      url("../fonts/lato-regular-webfont.woff") format("woff"),
      url("../fonts/Lato-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "platino";
    src: url("../fonts/PalatinoLinotype-Bold.woff2") format("woff2"),
      url("../fonts/PalatinoLinotype-Bold.woff") format("woff"),
      url("../fonts/PalatinoLinotype-Bold.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
  }
  